@use "./colors";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fefefe;
  font-family: "Jost", sans-serif;
  font-size: large;
  color: $dark;
}

// Fonts

.title {
  font-family: "Work Sans" !important;
  @extend .text-success;
}

.navbar {
  border-bottom: 2px solid $brand-1;
}

.cursor-pointer {
  cursor: pointer;
}

.text-icon-nav-bar {
  font-size: 0.6em;
}

.parallax {
  /* Set a specific height */
  min-height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.frame,
.frame-hover {
  padding: 1px;
  border: solid 3px #efefef;
}

.frame-hover {
  &:hover,
  frame {
    border: solid 3px #ccc;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
  }
}

// END CUSTOM CLASSES
// DO NOT TOUCH FROM HERE
// Display breakpoint
.d-xs-screen.d-md-screen,
.d-xs-screen.d-lg-screen {
  display: revert;
}

.d-md-screen {
  display: none;
}

.d-lg-screen {
  display: none;
}

/* Extra small devices (portrait phones, less than 576px) */
/* @media (max-width: 575px) {
} */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .d-xs-screen {
    display: revert;
  }

  .d-md-screen {
    display: none;
  }

  .d-lg-screen {
    display: none;
  }

  .d-xs-screen.d-md-screen,
  .d-xs-screen.d-lg-screen {
    display: revert;
  }
}

/* Column management */
/* Small devices (landscape phones) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .d-xs-screen {
    display: none;
  }

  .d-md-screen {
    display: revert;
  }

  .d-lg-screen {
    display: none;
  }

  .d-xs-screen.d-md-screen,
  .d-xs-screen.d-lg-screen {
    display: revert;
  }

  .icon-nav-bar {
    font-size: large;
  }

  .icon-brand-nav-bar {
    max-height: 20px;
  }
}

/* Column management */
/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .d-xs-screen.d-md-screen {
    display: none;
  }

  .d-lg-screen,
  .d-xs-screen.d-lg-screen {
    display: block;
  }

  .navbar {
    .navbar-logo {
      width: 200px;
    }

    font-size: 1.25rem;
  }
}

/* Column management */
/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Column management */
/* Small devices (landscape phones) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Column management */
/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Column management */
/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
